body{
    font-family: 'Roboto';
    background-color: #EAC926;
  
}
.subtitulos{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.tamDescYDescrip{
    font-size: 16px;
}
i{
 
    color: black;
}
.logoMercado{
    width: 300px;
}

.imagenes{
    width: 200px;
    
}

.lista1, .lista2{
    list-style: none;
}
.lista2{
    margin-top: 10px
}

.hamburguesa{
    
    
   
    text-align: center;
    
}
.hamburguesa i {
    
    height: auto;
    padding: 10px;
    background-color: #1259c3;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}